html {
    scroll-behavior: smooth;
}

.background-color {
    background-color:  #74b559
}


.font-color {
    color: #EDF5E1
}

.jumbo-background {
    background-color: #1b211c !important;
}

.margin-5 {
    margin: 5px;
}

.ptop5 {
    padding-top: 5px;
}

a {
    color: #EDF5E1 !important;
}

.pbottom20 {
    padding-bottom: 20px;
}
